<header style="width: 100%; background-color: darkolivegreen">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <th:block th:insert="~{/libs}"/>
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
          <a class="nav-link active" aria-current="page" href="/profile">Profile</a>
          <a class="nav-link active" aria-current="page" href="/cart/open">Cart</a>
        </div>
      </div>
    </div>
    <a href="/logout">Logout</a>
  </nav>
</header>


