<header style="width: 100%; background-color: darkolivegreen">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <nav class="nav">
    <a class="nav-link active;" href="/home">Main <i class="fas fa-home"></i></a>
    <a class="nav-link active" href="/profile">User <i class="fas fa-user"></i></a>
    <a class="nav-link active" href="/cart/open">Cart <i class="fas fa-shopping-cart"></i></a>
  </nav>
</header>