<!DOCTYPE html>
<html lang="en">
<head>
  <title>Categories</title>
  <meta charset="utf-8">
  <th:block th:insert="~{/libs}"/>
</head>
<body>
<th:block th:insert="~{/header}"/>
<br>
<h2>Popular categories</h2>

<div class="container-fluid mb-4">
  <div class="row">
    <div class="card w-25 m-1" type="category" th:each="c : ${categories}"><br>
      <div class="card-body">
        <a th:href="@{'/category/' + ${c.id}}">
          <img class="card-img" style="width:150px;height:120px"
               th:src="@{'/images/' + ${c.imageName}}"
               alt th:text="${c.name}"></a>
      </div>
    </div>
  </div>
</div>
</body>
</html>