<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <th:block th:insert="~{/libs}"/>
  <title>User Registration</title>
</head>
<body>
<div class="container">
  <div class="col-md-8 offset-md-4">
    <h2>Register</h2>
    <form th:action="@{/register}" th:object="${user}" method="post">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control w-25" id="name" placeholder="Enter username" name="name">
        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
      </div>
      <div class="form-group">
        <label for="surname">Surname:</label>
        <input type="text" class="form-control w-25" id="surname" placeholder="Enter surname" name="surname">
        <div style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></div>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control w-25" id="password" placeholder="Enter password" name="password">
        <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control w-25" id="email" placeholder="Enter email" name="email">
        <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{email}"></div>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
      <p class="message">Registered?<a href="/login">Log in</a></p>
    </form>
    <div th:if="${param.success}">
      User registered successfully!
    </div>
  </div>
</div>
</body>
</html>

