<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://thymeleaf.org ">
<head>
  <title>Login form example</title>
  <meta charset="utf-8">
  <th:block th:insert="~{/libs}"/>
</head>
<body>

<div class="container">
  <div class="col-md-8 offset-md-4">
    <h2>Login</h2>
    <p>Please, enter your credentials</p>
    <form method="POST" th:action="@{/login}" th:object="${user}">
      <div class="form-group">
        <label for="email">Username:</label>
        <input type="text" class="form-control w-25" id="email" placeholder="Enter username" name="email">
        <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="text" class="form-control w-25" id="password" placeholder="Enter password" name="password">
        <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>
</body>
</html>